<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite">
    <test name="Calendar Events">
        <parameter name="reportName" value="login"></parameter>
        <classes>
            <class name="tests.activities.CalendarEventsTests"/>
        </classes>
    </test>



</suite>